services:
  db:
    image: postgres
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      # Your test database
      POSTGRES_DB: realworld
    ports:
      # We'll expose this at 5433 in case you have a postgres already running
      - 5433:5432
    volumes:
      - ./db:/docker-entrypoint-initdb.d
      - pgdata:/var/lib/postgresql/data

  # A nice-to-have admin ui at localhost:8081
  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8080

volumes:
  pgdata: